@mixin front-back-styles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}


.hamburger {
    width: 2rem;
    height: 2rem;
    position: relative;
    transform-style: preserve-3d;
    transition: .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    .front {
        @include front-back-styles();
        flex-direction: column;
        justify-content: space-between;
        backface-visibility: hidden;
        z-index: 1;
        
        .hamburger-line {
            width: 100%;
            height: .2rem;
            background-color: var(--light);
        }
    }

    .back {
        @include front-back-styles();
        justify-content: center;
        align-items: center;
        color: var(--light);
        font-size: 2.5rem;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        z-index: 2;
    }
    
    &.flip-burger {
        transform: rotateY(180deg)
    }
}